@font-face {
  font-family: 'JosefinSans';
  font-style: normal;
  src: url('./JosefinSans-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'JosefinSans';
  font-style: italic;
  src: url('./JosefinSans-Italic-VariableFont_wght.ttf');
}
